"*":
  core:
    disabledPackages: [
      "autosave"
      "linter"
      "metrics"
      "tree-view"
      "whitespace"
    ]
    openEmptyEditorOnStart: false
    projectHome:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "CamingoCode"
    fontSize: 12
    lineHeight: 1.6
    preferredLineLength: 120
    showIndentGuide: true
    tabLength: 4
    tabType: "auto"
  emmet:
    extensionsPath: "~/.emmet"
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "language-babel":
    autoIndentJSX: true
    transpileOnSave: true
  linter:
    showErrorPanel: false
  minimap:
    absoluteMode: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  nuclide:
    "nuclide-distraction-free-mode":
      hideStatusBar: true
      hideToolBar: true
    "nuclide-file-tree":
      revealFileOnSwitch: true
    "nuclide-home":
      showHome: false
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Even"
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  welcome:
    showOnStartup: false
