'.platform-darwin atom-workspace atom-text-editor:not([mini])':
	'shift-cmd-enter': 'unset!'
	'shift-cmd-enter': 'maximize-panes:maximize'
	'alt-shift-cmd-enter': 'nuclide-distraction-free-mode:toggle'

'.platform-darwin atom-text-editor:not([mini])':
	'ctrl-alt-up': 'unset!'
	'ctrl-alt-down': 'unset!'

'.platform-darwin atom-workspace atom-text-editor:not(.mini)':
	'ctrl-alt-up': 'ctrl-dir-scroll:scroll-up'
	'ctrl-alt-down': 'ctrl-dir-scroll:scroll-down'

'atom-workspace, atom-workspace atom-text-editor':
	'ctrl-shift-m': 'unset!'
	'ctrl-alt-m': 'markdown-preview:toggle'

'atom-workspace atom-text-editor:not([mini])':
	'ctrl-enter': 'editor:newline-above'

'.platform-darwin atom-text-editor':
	'ctrl-r': 'unset!'
	'ctrl-r': 'run:selection'
	'ctrl-shift-r': 'unset!'
	'ctrl-alt-r': 'run:file'

'atom-text-editor:not([mini])':
	'ctrl-shift-m': 'emmet:merge-lines'
	'ctrl-shift-r': 'emmet:reflect-css-value'

'atom-workspace':
	'alt-shift-t': 'whitespace:convert-spaces-to-tabs'
	'alt-o': 'unset!'
	'ctrl-alt-o': 'nuclide-outline-view:toggle'
	'ctrl-alt-s': 'status-bar:toggle'
	'ctrl-alt-k': 'nuclide-task-runner:toggle-Buck-toolbar'

'.platform-darwin, .platform-linux, .platform-win32':
	'alt-shift-d': 'unset!'
	'ctrl-alt-e': 'nuclide-diagnostics-ui:toggle-table'

'.platform-darwin atom-workspace':
	'alt-cmd-j': 'unset!'
	'ctrl-alt-c': 'nuclide-console:toggle'
	'alt-cmd-r': 'nuclide-recent-files-provider:toggle-provider'
